<div class="site-nav__dropdown absolute z-[1000] bg-[var(--site-header-background-color)] top-[100%] left-0">
  <div class="flex justify-between mx-auto">
    <div class="site-nav__dropdown-center">
      <ul>
        <li class="mb-[20px] xl:mb-0">
          <a href="#" title="Hair Quiz" class="flex items-center w-[max-content]">
            <span class="site-nav__link-image-container">
              <img
                src="{{ 'hair-quizz.avif' | asset_url }}"
                alt="Hair Quiz  "
                loading="lazy"
                class="object-cover"
                width="132"
                height="110"
              >
            </span>
            <span class="block w-[250px] ml-[21px] shrink-0">
              <span
                class="font-quincy font-[800] text-[2.6rem] leading-[2.8rem] font-[700] mt-[9px] mx-auto block mb-[6px]"
                >Hair Quiz
              </span>
              <span class="font-[400] text-[1.6rem] leading-[2rem] block">Take & Save 15%*</span>
            </span>
          </a>
        </li>
        <li class="mb-[20px] xl:mb-0">
          <a href="#" title="Hair Quiz" class="flex items-center w-[max-content]">
            <span class="site-nav__link-image-container">
              <img
                src="{{ 'tiger-tribe.gif' | asset_url }}"
                alt="Hair Quiz  "
                loading="lazy"
                class="object-cover"
                width="132"
                height="110"
              >
            </span>
            <span class="block w-[250px] ml-[21px] shrink-0">
              <span
                class="font-quincy font-[800] text-[2.6rem] leading-[2.8rem] font-[700] mt-[9px] mx-auto block mb-[6px]"
                >Tiger Tribe
              </span>
              <span class="font-[400] text-[1.6rem] leading-[2rem] block">Community & Rewards</span>
            </span>
          </a>
        </li>
        <li class="mb-[20px] xl:mb-0">
          <a href="#" title="Our Journey " class="flex items-center w-[max-content]">
            <span class="site-nav__link-image-container">
              <img
                src="{{ 'journeynav.png' | asset_url }}"
                alt="Our Journey   "
                loading="lazy"
                class="object-cover"
                width="132"
                height="110"
              >
            </span>
            <span class="block w-[250px] ml-[21px] shrink-0">
              <span
                class="font-quincy font-[800] text-[2.6rem] leading-[2.8rem] font-[700] mt-[9px] mx-auto block mb-[6px]"
                >Our Journey
              </span>
              <span class="font-[400] text-[1.6rem] leading-[2rem] block">Meet Our Founders</span>
            </span>
          </a>
        </li>
        <li class="mb-[20px] xl:mb-0">
          <a href="#" title="Mane Monocle" class="flex items-center w-[max-content]">
            <span class="site-nav__link-image-container">
              <img
                src="{{ 'nav-mane-monocle.png' | asset_url }}"
                alt="Mane Monocle"
                loading="lazy"
                class="object-cover"
                width="132"
                height="110"
              >
            </span>
            <span class="block w-[250px] ml-[21px] shrink-0">
              <span
                class="font-quincy font-[800] text-[2.6rem] leading-[2.8rem] font-[700] mt-[9px] mx-auto block mb-[6px]"
                >Mane Monocle
              </span>
              <span class="font-[400] text-[1.6rem] leading-[2rem] block">Discover Our Blog</span>
            </span>
          </a>
        </li>
        <li class="mb-[20px] xl:mb-0">
          <a href="#" title="Fable Fund " class="flex items-center w-[max-content]">
            <span class="site-nav__link-image-container">
              <img
                src="{{ 'nav-fable-fund.avif' | asset_url }}"
                alt="Fable Fund "
                loading="lazy"
                class="object-cover"
                width="132"
                height="110"
              >
            </span>
            <span class="block w-[250px] ml-[21px] shrink-0">
              <span
                class="font-quincy font-[800] text-[2.6rem] leading-[2.8rem] font-[700] mt-[9px] mx-auto block mb-[6px]"
                >Fable Fund
              </span>
              <span class="font-[400] text-[1.6rem] leading-[2rem] block">Save The Wild Ones</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
