{{ 'drop-down.css' | asset_url | stylesheet_tag }}

<div
    class="site-nav__dropdown absolute z-[1000] bg-[var(--site-header-background-color)] top-[calc(100%-24px)] left-0 right-0 flex justify-center items-center">
    <div class="flex justify-between width-base">
        <div class="site-nav__dropdown-left border-black-right w-[32.4%]">
            <ul>
                <li class="mb-[27px]">
                    <a href="#" title="Hair Care" class="block">
                        <span class="inline-block [&>span]:block ml-[28px] mt-[11px]">
                            <span class="font-quincy font-[700] text-[2.6rem] leading-[2.8rem] mb-[6px]">Hair & Scalp
                                Oils</span>
                            <span class="text-[1.6rem] leading-[2rem] font-[400]">Strengthen, smooth & shine.</span>
                        </span>
                    </a>
                </li>
                <li class="mb-[27px]">
                    <a href="#" title="Hair Care">
                        <span class="inline-block [&>span]:block ml-[28px] mt-[11px]">
                            <span class="font-quincy font-[700] text-[2.6rem] leading-[2.8rem] mb-[6px]">Wash Care
                            </span>
                            <span class="text-[1.6rem] leading-[2rem] font-[400]">Cleanse, hydrate & repair
                                strands.</span>
                        </span>
                    </a>
                </li>
                <li class="mb-[27px]">
                    <a href="#" title="Hair Care">
                        <span class="inline-block [&>span]:block ml-[28px] mt-[11px]">
                            <span class="font-quincy font-[700] text-[2.6rem] leading-[2.8rem] mb-[6px]">Styling </span>
                            <span class="text-[1.6rem] leading-[2rem] font-[400]">Volumize, protect & smooth
                                frizz.</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="site-nav__dropdown-center border-black-right w-[42.6%] p-[20px]">
            <ul class="grid grid-cols-3 gap-y-[27px]">
                <li>
                    <a href="#" title="Best Selling Hair Oil  ">
                        <span class="flex flex-col items-center justify-center">
                            <img src="{{ 'nav-col-bestsellers-new.png' | asset_url }}" alt="Best Selling Hair Oil  "
                                loading="lazy" class="w-[132px] h-[110px] object-contain" width="132" height="110">
                            <span
                                class="font-quincy text-[2rem] leading-[2rem] font-[700] mt-[9px] mx-auto max-w-[120px] text-center">Best
                                Selling
                                Hair Oil
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Sets & Bundles ">
                        <span class="flex flex-col items-center justify-center">
                            <img src="{{ 'nav-col2-gift.png' | asset_url }}" alt="Sets & Bundles" loading="lazy"
                                class="w-[132px] h-[110px] object-contain" width="132" height="110">
                            <span
                                class="font-quincy text-[2rem] leading-[2rem] font-[700] mt-[9px] mx-auto max-w-[120px] text-center">Sets
                                & Bundles </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Travel ">
                        <span class="flex flex-col items-center justify-center">
                            <img src="{{ 'nav-col2-minisku2.png' | asset_url }}" alt="Travel" loading="lazy"
                                class="w-[132px] h-[110px] object-contain" width="132" height="110">
                            <span
                                class="font-quincy text-[2rem] leading-[2rem] font-[700] mt-[9px] mx-auto max-w-[120px] text-center">Travel
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Accessories  ">
                        <span class="flex flex-col items-center justify-center">
                            <img src="{{ 'nav-col2-comb.png' | asset_url }}" alt="Accessories" loading="lazy"
                                class="w-[132px] h-[110px] object-contain" width="132" height="110">
                            <span
                                class="font-quincy text-[2rem] leading-[2rem] font-[700] mt-[9px] mx-auto max-w-[120px] text-center">Accessories
                            </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Bundle Builder   ">
                        <span class="flex flex-col items-center justify-center">
                            <img src="{{ 'newnav.png' | asset_url }}" alt="Bundle Builder" loading="lazy"
                                class="w-[132px] h-[110px] object-contain" width="132" height="110">
                            <span
                                class="font-quincy text-[2rem] leading-[2rem] font-[700] mt-[9px] mx-auto max-w-[120px] text-center">Bundle
                                Builder </span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Hair Quiz    ">
                        <span class="flex flex-col items-center justify-center">
                            <img src="{{ 'nav-quiznew.png' | asset_url }}" alt="Hair Quiz " loading="lazy"
                                class="w-[132px] h-[110px] object-contain" width="132" height="110">
                            <span
                                class="font-quincy text-[2rem] leading-[2rem] font-[700] mt-[9px] mx-auto max-w-[120px] text-center">Hair
                                Quiz </span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="site-nav__dropdown-right w-[24%]">
            <div class="pl-[20px] pt-[36px]">
                <a href="#" title="Shop our NEW Dry Shampoo!" class="flex flex-col items-center justify-center">
                    <img src="{{ 'HP_scroll_down_image_2_clip.webp' | asset_url }}" alt="Shop our NEW Dry Shampoo!"
                        loading="lazy" class="w-[228px] h-[244px] max-h-[245px] object-contain" width="228"
                        height="244">
                    <span
                        class="font-quincy font-[700] text-[2.6rem] max-w-[202px] mx-auto mt-[14px] [&>svg]:inline-block [&>svg]:w-[16px] [&>svg]:h-[16px] [&>svg]:ms-[2px] text-center">Shop
                        our NEW Dry
                        Shampoo! {{- 'icon-right.svg' | inline_asset_content -}}</span>
                </a>
            </div>
        </div>
    </div>
</div>