<div class="site-nav__dropdown absolute z-[1000] bg-[var(--site-header-background-color)] top-[101%] left-0 right-0 flex justify-center items-center">
  <div class="flex justify-between width-base">
    <div class="site-nav__dropdown-left">
      <ul>
        <li class="mb-[27px] pl-[-16px]">
          <a href="#" title="Hair Care" class="block">
            <span class="[&>span]:block">
              <span>Hair & Scalp Oils</span>
              <span>Strengthen, smooth & shine.</span>
            </span>
          </a>
        </li>
        <li>
          <a href="#" title="Hair Care">
            <span class="[&>span]:block">
              <span>Wash Care </span>
              <span>Cleanse, hydrate & repair strands.</span>
            </span>
          </a>
        </li>
        <li>
          <a href="#" title="Hair Care">
            <span class="[&>span]:block">
              <span>Styling </span>
              <span>Volumize, protect & smooth frizz.</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="site-nav__dropdown-center">
      <ul class="grid grid-cols-3 gap-3">
        <li>
          <a href="#" title="Best Selling Hair Oil  ">
            <span>
              <img
                src="{{ 'nav-col-bestsellers-new.png' | asset_url }}"
                alt="Best Selling Hair Oil  "
                loading="lazy"
                class="w-[132px] h-[110px]"
                width="132"
                height="110"
              >
              <span>Best Selling Hair Oil </span>
            </span>
          </a>
        </li>
        <li>
          <a href="#" title="Sets & Bundles ">
            <span>
              <img
                src="{{ 'nav-col2-gift.png' | asset_url }}"
                alt="Sets & Bundles"
                loading="lazy"
                class="w-[132px] h-[110px]"
                width="132"
                height="110"
              >
              <span>Sets & Bundles </span>
            </span>
          </a>
        </li>
        <li>
          <a href="#" title="Travel ">
            <span>
              <img
                src="{{ 'nav-col2-minisku2.png' | asset_url }}"
                alt="Travel"
                loading="lazy"
                class="w-[132px] h-[110px]"
                width="132"
                height="110"
              >
              <span>Travel </span>
            </span>
          </a>
        </li>
        <li>
          <a href="#" title="Accessories  ">
            <span>
              <img
                src="{{ 'nav-col2-comb.png' | asset_url }}"
                alt="Accessories"
                loading="lazy"
                class="w-[132px] h-[110px]"
                width="132"
                height="110"
              >
              <span>Accessories </span>
            </span>
          </a>
        </li>
        <li>
          <a href="#" title="Bundle Builder   ">
            <span>
              <img
                src="{{ 'newnav.png' | asset_url }}"
                alt="Bundle Builder"
                loading="lazy"
                class="w-[132px] h-[110px]"
                width="132"
                height="110"
              >
              <span>Bundle Builder </span>
            </span>
          </a>
        </li>
        <li>
          <a href="#" title="Hair Quiz    ">
            <span>
              <img
                src="{{ 'nav-quiznew.png' | asset_url }}"
                alt="Hair Quiz "
                loading="lazy"
                class="w-[132px] h-[110px]"
                width="132"
                height="110"
              >
              <span>Hair Quiz </span>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="site-nav__dropdown-right">
      <a href="#" title="Shop our NEW Dry Shampoo!">
        <img
          src="{{ 'HP_scroll_down_image_2_clip.webp' | asset_url }}"
          alt="Shop our NEW Dry Shampoo!"
          loading="lazy"
          class="w-[228px] h-[244px]"
          width="228"
          height="244"
        >
        <span>Shop our NEW Dry Shampoo! </span>
      </a>
    </div>
  </div>
</div>
