<div
  class="site-nav__dropdown xl:absolute sm:static xl:hidden z-[1000] bg-[var(--site-header-background-color)] top-[calc(100%-24px)] left-0 right-0"
>
  <div class="flex justify-between mx-auto width-base xl:flex-row sm:flex-col">
    <div class="site-nav__dropdown-left border-black-right xl:w-[32.4%] sm:w-full">
      <ul>
        <li class="xl:mb-[27px] sm:mb-[20px]">
          <a href="#" title="Hair Care" class="block">
            <span class="inline-block [&>span]:block ml-[28px] mt-[11px]">
              <span class="font-quincy font-[700] xl:text-[2.6rem] xl:leading-[2.8rem] sm:text-[2rem] sm:leading-[2.4rem] mb-[6px]"
                >Hair & Scalp Oils</span
              >
              <span class="xl:text-[1.6rem] xl:leading-[2rem] sm:text-[1.5rem] sm:leading-[2.4rem] font-[400]"
                >Strengthen, smooth & shine.</span
              >
            </span>
          </a>
        </li>
        <li class="xl:mb-[27px] sm:mb-[20px]">
          <a href="#" title="Hair Care">
            <span class="inline-block [&>span]:block ml-[28px] mt-[11px]">
              <span class="font-quincy font-[700] xl:text-[2.6rem] xl:leading-[2.8rem] sm:text-[2rem] sm:leading-[2.4rem] mb-[6px]"
                >Wash Care
              </span>
              <span class="xl:text-[1.6rem] xl:leading-[2rem] sm:text-[1.5rem] sm:leading-[2.4rem] font-[400]"
                >Cleanse, hydrate & repair strands.</span
              >
            </span>
          </a>
        </li>
        <li class="xl:mb-[27px] sm:mb-[20px]">
          <a href="#" title="Hair Care">
            <span class="inline-block [&>span]:block ml-[28px] mt-[11px]">
              <span class="font-quincy font-[700] xl:text-[2.6rem] xl:leading-[2.8rem] sm:text-[2rem] sm:leading-[2.4rem] mb-[6px]"
                >Styling
              </span>
              <span class="xl:text-[1.6rem] xl:leading-[2rem] sm:text-[1.5rem] sm:leading-[2.4rem] font-[400]"
                >Volumize, protect & smooth frizz.</span
              >
            </span>
          </a>
        </li>
        <li class="xl:mb-[27px] sm:mb-[20px] xl:hidden">
          <button class="btn !bg-transparent">SHOP ALL</button>
        </li>
      </ul>
    </div>
    <div class="site-nav__dropdown-center border-black-right xl-w-[42.6%] p-[20px] sm:w-full">
      <ul class="grid grid-cols-3 gap-y-[27px]">
        <li>
          <a href="#" title="Best Selling Hair Oil  ">
            <span class="flex flex-col items-center justify-center">
              <img
                src="{{ 'nav-col-bestsellers-new.png' | asset_url }}"
                alt="Best Selling Hair Oil  "
                loading="lazy"
                class="xl:w-[132px] xl:h-[110px] sm:w-[87px] sm:h-[73px] object-contain"
                width="132"
                height="110"
              >
              <span
                class="font-quincy xl:text-[2rem] xl:leading-[2rem] sm:text-[1.4rem] sm:leading-[1.4rem] font-[700] mt-[9px] mx-auto max-w-[120px] text-center"
                >Best Selling Hair Oil
              </span>
            </span>
          </a>
        </li>
        <li>
          <a href="#" title="Sets & Bundles ">
            <span class="flex flex-col items-center justify-center">
              <img
                src="{{ 'nav-col2-gift.png' | asset_url }}"
                alt="Sets & Bundles"
                loading="lazy"
                class="xl:w-[132px] xl:h-[110px] sm:w-[87px] sm:h-[73px] object-contain"
                width="132"
                height="110"
              >
              <span
                class="font-quincy xl:text-[2rem] xl:leading-[2rem] sm:text-[1.4rem] sm:leading-[1.4rem] font-[700] mt-[9px] mx-auto max-w-[120px] text-center"
                >Sets & Bundles
              </span>
            </span>
          </a>
        </li>
        <li>
          <a href="#" title="Travel ">
            <span class="flex flex-col items-center justify-center">
              <img
                src="{{ 'nav-col2-minisku2.png' | asset_url }}"
                alt="Travel"
                loading="lazy"
                class="xl:w-[132px] xl:h-[110px] sm:w-[87px] sm:h-[73px] object-contain"
                width="132"
                height="110"
              >
              <span
                class="font-quincy xl:text-[2rem] xl:leading-[2rem] sm:text-[1.4rem] sm:leading-[1.4rem] font-[700] mt-[9px] mx-auto max-w-[120px] text-center"
                >Travel
              </span>
            </span>
          </a>
        </li>
        <li>
          <a href="#" title="Accessories  ">
            <span class="flex flex-col items-center justify-center">
              <img
                src="{{ 'nav-col2-comb.png' | asset_url }}"
                alt="Accessories"
                loading="lazy"
                class="xl:w-[132px] xl:h-[110px] sm:w-[87px] sm:h-[73px] object-contain"
                width="132"
                height="110"
              >
              <span
                class="font-quincy xl:text-[2rem] xl:leading-[2rem] sm:text-[1.4rem] sm:leading-[1.4rem] font-[700] mt-[9px] mx-auto max-w-[120px] text-center"
                >Accessories
              </span>
            </span>
          </a>
        </li>
        <li>
          <a href="#" title="Bundle Builder   ">
            <span class="flex flex-col items-center justify-center">
              <img
                src="{{ 'newnav.png' | asset_url }}"
                alt="Bundle Builder"
                loading="lazy"
                class="xl:w-[132px] xl:h-[110px] sm:w-[87px] sm:h-[73px] object-contain"
                width="132"
                height="110"
              >
              <span
                class="font-quincy xl:text-[2rem] xl:leading-[2rem] sm:text-[1.4rem] sm:leading-[1.4rem] font-[700] mt-[9px] mx-auto max-w-[120px] text-center"
                >Bundle Builder
              </span>
            </span>
          </a>
        </li>
        <li>
          <a href="#" title="Hair Quiz    ">
            <span class="flex flex-col items-center justify-center">
              <img
                src="{{ 'nav-quiznew.png' | asset_url }}"
                alt="Hair Quiz "
                loading="lazy"
                class="xl:w-[132px] xl:h-[110px] sm:w-[87px] sm:h-[73px] object-contain"
                width="132"
                height="110"
              >
              <span
                class="font-quincy xl:text-[2rem] xl:leading-[2rem] sm:text-[1.4rem] sm:leading-[1.4rem] font-[700] mt-[9px] mx-auto max-w-[120px] text-center"
                >Hair Quiz
              </span>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="site-nav__dropdown-right xl-w-[24%] sm:w-full">
      <div class="pl-[20px] pt-[36px]">
        <a
          href="#"
          title="Shop our NEW Dry Shampoo!"
          class="flex xl:flex-col sm:flex-row items-center xl:justify-center sm:justify-start"
        >
          <img
            src="{{ 'HP_scroll_down_image_2_clip.webp' | asset_url }}"
            alt="Shop our NEW Dry Shampoo!"
            loading="lazy"
            class="xl:w-[228px] xl:h-[244px] sm:w-[73px] sm:h-[80px] max-h-[245px] object-contain"
            width="228"
            height="244"
          >
          <span
            class="xl:font-quincy sm:font-sofia sm:font-[400] sm:text-[2rem] sm:leading-[2.4rem] xl:font-[700] xl:text-[2.6rem] xl:max-w-[202px] xl:mx-auto xl:pl-0 sm:pl-[10px] xl:mt-[14px] [&>svg]:inline-block [&>svg]:w-[16px] [&>svg]:h-[16px] [&>svg]:ms-[2px] xl:text-center sm:text-left"
            >Shop our NEW Dry Shampoo!
            {{- 'icon-right.svg' | inline_asset_content -}}
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
