<html>
  <head>
    {{ content_for_header }}
    <!-- Resource Hints cho Analytics -->
    <link rel="dns-prefetch" href="https://www.googletagmanager.com" crossorigin>
    <link rel="dns-prefetch" href="https://connect.facebook.net" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Tailwind CSS code -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'global.css' | asset_url | stylesheet_tag }}
    {{ 'fonts.css' | asset_url | stylesheet_tag }}
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'product-template.css' | asset_url | stylesheet_tag }}
    {{ 'product.css' | asset_url | stylesheet_tag }}
    {{ 'product-swiper.css' | asset_url | stylesheet_tag }}
    {{ 'product-info.css' | asset_url | stylesheet_tag }}
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{{ 'product-swiper.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'header.js' | asset_url }}" defer="defer"></script>
    <!-- Google Analytics 4 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=IG_GOOGLE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-ID');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.defer = true;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

      fbq('init', '123456789012345');
      fbq('track', 'PageView');
    </script>
  </head>

  <body>
    {% sections 'header-group' %}
    <main role="main" class="mx-auto main-theme" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}
  </body>
</html>
